*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
img{
    width : 350px;
    height : 350px;
    border : 3px solid black;
}
.pro-header{
    font-size :  35px;
    color : black;
    font-family: Courier;
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
}
.top-half{
    background-color : white;
    width: 100%;
    padding: 20px 20px;
    margin: 5px;
}
.top-half h1{
    text-align : center;
    margin-top : 20px;
    margin-bottom: 10px;
}
#title{
    background-color : cyan;
    text-align: center;
    color : black;
    margin-bottom : 10px;
    font-size : 40px;
    font-family: Verdana;
}
.top-half h3{
    background-color : red;
    text-align: center;
    margin: 10px;
    align-items: center;
    text-align: center;
    color : white;
    width : 100%;
    padding: 10px;
    height : 60px;
    font-size : 15px;
    font-family: 'Courier New', Courier, monospace;
}
.label-text{
    text-align: left;
    font-family: Verdana;
}
input[type=text], input[type=url] {
width: 60%;
padding: 12px 20px;
margin: 10px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
button[type=submit] {
width: 60%;
background-color: #6076db;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}
.myform{
    display: block;
    text-align: center;
}
#btm-half-head{
    text-align : center;
    font-family : 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top : 10px;
}
.flex-container{
    overflow:scroll;
    height: 620px;
    background-color: #ABABB4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items : center
}
.post-item{
    background-color: white;
    padding : 14px 14px;
    width : fit-content;
    height: fit-content;
    margin : 10px 10px;
    text-align : center;
}
.author-name-and-date{
    width: 350px;
    word-wrap: normal;
    color : black;
    font-size : 15px;
    font-family: Courier;
    margin : 5px 0px;
}
.post-caption{
    width: 350px;
    word-wrap: normal;
    color : black;
    font-size : 15px;
    font-family: Courier;
    margin : 5px 0px;
}